
#menu ul {
    margin:0;
    list-style-type:none;
    text-align:center;
    
    }
   #menu li {
    float:left;
    margin:auto;
    padding-left:10px;
    background-color:white;
    color :rgba(230, 153, 86, 0.781);
    }
   #menu li a {
    display:block;
    width:200px;
    color:rgba(230, 153, 86, 0.781);
    text-decoration:none;
    text-align: left;
    border-style: double;

    }
   #menu li a:hover {
    color:pink;
    }

    #menu ul li ul {
        display:none;
        }
    #menu ul li:hover ul {
        display:block;
        }
    #menu li:hover ul li {
    float:none;
    }